.display{
    height:60%;
    width:100%;
    border:1px solid black;
    background-image: url('../assets/display_background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:flex-start
}
.display>h1{
    color: whitesmoke;
}