.ipod{
    height:600px;
    width:370px;
    border : 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0 16px black;
    box-sizing: border-box;
    padding: 10px 10px;
}
.flex_coloumn{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex_row{
    height:370px;
    width: 580px;
    display: flex;
    justify-content: space-between;
}