.menu_bar{
    position: absolute;
    top:0;
    left: 0;
    width:45%;
    max-height:350px;
    height:100%;
    box-sizing: border-box;
    background-color: rgb(135, 135, 135);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: large;
    font-weight: bold;
}
.menu_header{
    height:80px;
    border-top-left-radius: 20px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu_content{
    cursor: pointer;
    height:270px;
    border-bottom-left-radius: 20px;
}
.menu_components{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height:67.5px;
    width:100%;
    border-top: 2px solid black;
}
.current_hovering_comp{
    background-color: rgb(255, 155, 4);
}
.non_visible{
    visibility: collapse;
}
.music_list_bottom{
    height:91px;
    font-size: small;
    border-top: 2px solid black;
    background-color: rgb(135, 135, 135);
    color: green;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius: 20px;
}