.App{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    background-image: url('./assets/Dbzbackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}