.App{
   
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    z-index: -1;
    box-sizing: border-box;
    padding: 5px;
}